<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <script defer type="module" src="./scripts/main.js"></script>
    <title>Home | Corona Referral Platform</title>
</head>
<body>
    <header>
        <section class="header_top container-fluid">
            <span class="logo"> Corona Referral</span>
            <p>Check out our new version</p>
            <div>
                <a href="/login.html">login</a>
                <span>/</span>
                <a href="/register.html">register</a>
            </div>
        </section>
        <section class="header_nav" >
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/patient.html">Patiënt</a></li>
                <li><a href="/huisarts.html">Huisarts</a></li>
                <li><a href="/ziekenhuis.html">Ziekenhuis</a></li>
                <li><a href="/overons.html">Over ons</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </section>
    </header>
    <main>
        <section>
            <img src="./images/best-practices-3-3.png" alt="Corona vermijden">
            <div class="d-flex flex-column">
                <h1>Waarom ons platform ?</h1>
                <p>
                    Ons platform zorgt voor een optimale communicatie tussen de patiënt, ziekenhuizen, huisartsen en contacttracers. Dankzij ons platform kan corona optimaal bestreden worden en kunnen we de verspreiding tegen gaan. 
                </p>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>