<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link rel="icon" type="image/webp" href="./images/coronavirus.webp">
    <script src="https://kit.fontawesome.com/301a2cd1c0.js" crossorigin="anonymous"></script>
    <script defer type="module" src="./scripts/main.js"></script>
    <title>Login | Corona Referral Platform</title>
</head>
<body class="loginpage">
    <header>
        <section class="header_top">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a href="/" class="logo">Corona Referral</a>
                <p>&#9995;  Check out our new version  &#9995;</p>
                <div class="auth d-flex">
                    <a href="/login.html">login</a>
                    <span class="slash">/</span>
                    <a href="/register.html">register</a>
                </div>
            </div>
        </section>
        <nav class="header_nav">
            <ul class="container-fluid d-flex justify-content-center align-items-center">
                <li><a class="active" href="/index.html">Home</a></li>
                <li><a href="/patient.html">Patiënt</a></li>
                <li><a href="/huisarts.html">Huisarts</a></li>
                <li><a href="/ziekenhuis.html">Ziekenhuis</a></li>
                <li><a href="/overons.html">Over ons</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container d-flex justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="./images/privacy.png" alt="Corona privacy">
                <a class="text-center w-100 d-block otherauth" href="/register.html">Create an account</a>
            </div>
            <form action="/login.php" method="POST" class="d-flex flex-column col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <h1>Login</h1>
                <input placeholder="Email" type="email" name="email" required>
                <input placeholder="Password" type="password" name="password" required>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="rememberme" name="rememberme" value="rememberme">
                        <label class="form-check-label" for="rememberme">Remember me</label>
                    </div>
                    <a href="/forgotpassword.php">Forgot password ?</a>
                </div>
                <button type="submit">
                    Log In
                </button>
            </form>
        </section>
    </main>
    <footer class="bg-flashy-green container-fluid">
        <section class="d-flex align-items-center justify-content-between">
            <nav class="d-flex align-items-center justify-content-between">
                <a href="/gebruiksvoorwaarden.html">Gebruiksvoorwaarden</a>
                <a href="/Privacy.html">Privacy</a>
                <a href="/cookies.html">Cookies</a>
                <a href="/contact.html">Contact</a>
            </nav>
            <div class="socialmedia d-flex align-items-end justify-content-between">
                <a rel="norefferer noopener" target="_blank" href="https://facebook.com/corona-referral-platform"><i class="fab fa-facebook-f"></i></a>
                <a rel="norefferer noopener" target="_blank" href="https://linkedin.com/corona-referral-platform"><i class="fab fa-linkedin-in"></i></a>
                <a rel="norefferer noopener" target="_blank" href="https://twitter.com/corona-referral-platform"><i class="fab fa-twitter"></i></a>
                <a rel="norefferer noopener" target="_blank" href="https://youtube.com/corona-referral-platform"><i class="fab fa-youtube"></i></a>
                <a rel="norefferer noopener" target="_blank" href="https://github.com/pgmgent-thibdema/Corona_referral_platform"><i class="fab fa-github"></i></a>

            </div>
        </section>
        <hr>
        <p>Corona Referral Platform 2020 - Thibaut De Maerteleire</p>
    </footer>
</body>
</html>