body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

hr {
    margin: 0;
    border-top: 1px solid var(--light-green);
}

a {
    i {
        color: var(--white);
    }
}