body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: var(--white);

    &:hover {
        transition: 0.3s;
        text-decoration: none;
        color: var(--flashy-green);
    }

    i {
        color: var(--white);
    }
}