// Open Sans fonts
@font-face {
    font-family: "Open Sans";
    src: url(/assets/fonts/Open_Sans/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url(/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url(/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Open Sans";
    src: url(/assets/fonts/Open_Sans/OpenSans-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url(/assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf);
    font-weight: 700;
}


// Nunito fonts
@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-SemiBold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-ExtraBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Nunito";
    src: url(/assets/fonts/Nunito/Nunito-Black.ttf);
    font-weight: 800;
}