.bg-light-green {
    background-color: var(--light-green);
}

.bg-medium-green {
    background-color: var(--medium-green);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

.bg-flashy-green {
    background-color: var(--flashy-green);
}