form {
    input {
        padding: 1rem;
        margin-bottom: 1rem;
        transition: 0.5s;
        &:focus {
            background-color: var(--light-green);
            transition: 0.5s;
        }
    }
    button[type=submit] {
        margin: 1rem 0rem;
    }

    label {
        cursor: pointer;
    }
}