.loginpage {
    main {
        margin: 5rem 0rem;
        h1 {
            margin-bottom: 2.5rem;
            font-weight: 900;
            font-size: 3rem;
        }

        .otherauth {
            color: var(--light-black);
            font-weight: 500;
            margin: 1rem;
        }
    }
}