:root {
    --white: #FFFFFF;
    --light-white: #FFFFB3;
    --dark-white: #EFEFEF;
    --light-grey: #D6D6D6;
    --dark-grey: #616161;
    --light-black: #362E2E;
    --light-green: #D8F3DC;
    --medium-green: #52B788;
    --dark-green: #19703D;
    --flashy-green: #15BB6A;
}